/.idea
/build
.DS_Store
/theme/node_modules
/theme/build
/*.phar

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/.phpunit.result.cache
/.phpunit.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###
